<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">App Estudos</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Pagina Inicial
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="contagem">
                    <span class="oi oi-plus" aria-hidden="true"></span> Contagem
                </NavLink>
            </div>
                               
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="calculandoo">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Testes de Calculos
                </NavLink>
            </div>
            
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mensageria">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Avisos
                </NavLink>
            </div> 

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="produtoss">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Produtos
                </NavLink>
            </div> 
            
            <div class="nav-item px-3">
            <NavLink class="nav-link" href="cadProdutos">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Cadastrar Produtos
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="pormocao">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Promoções
                </NavLink>
            </div> 
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="tarefa">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Tarefas
                </NavLink>
            </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
