@page "/contagem"

<PageTitle>Contagem + Login</PageTitle>


<h1>Testando um metodo Condicional IF</h1>

<h3> @Calculos.Login("lucas",132)</h3><br/><br/>

<h1>Realizando contagens com cliks</h1>

<h3><p role="status">Contagem atual: @currentCount</p></h3>

<button class="btn btn-primary" @onclick="IncrementCount">Começar conrtagem</button>
<button class="btn btn-primary" @onclick="Decremento">Começar Diminuir</button>



@code {
    private int currentCount = 0;
    private int decrement = 0;

    private void IncrementCount()
    {
        currentCount++;
    } 
    private void Decremento()
    {
        if(currentCount>0){

            currentCount--;
        }
    }
}
