@page "/produtoss"

<h3>Escola o seu Produto!</h3>
<h4>Esse é o meu Novo Produto: @Aparelho.Nome</h4>
<h4>A sua data de Cadastro foi: @Aparelho.Data.ToString("dd/MM/yyyy")</h4>

@code {

    public ItensP Aparelho { get { return PegaProduto(); } }

    private ItensP PegaProduto(){
        return new ItensP()
            {
                Nome = "Celular",
                Data = new DateTime(2022, 11, 17)
            };
    }


}
